<div class="container-fluid side-margin">
  <div class="row margin-left">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="form-post">
        <h1>Quizz</h1>

          <h4>Categories preferences</h4>


 <!-- TESTTING A NEW WAY TO DO THE FORM -->
        <div>
          <%= simple_form_for @categories_pref do |f| %>

            <div class="form-group">
              <div class="category-choices">
                <% Category.all.each do |category| %>
                  <div>
                    <input type="checkbox" class="hidden" value="<%= category.id %>" name="categories_pref[category_id][]" id="categories_pref_category_id_<%= category.id %>">
                    <label for="categories_pref_category_id_<%= category.id %>" class="category-choice" style="background-image: url(<%= category.picture %>);">
                      <%= category.name %>
                    </label>
                  </div>
                <% end %>
               </div>
            </div>

            <%= f.submit "Choose this category", class: "btn-blue" %>
          <% end %>
        </div>

        <hr>

        <div>
          <h4>Emotion preferences</h4>
          <%= simple_form_for current_user, url: emotion_prefs_path, method: :patch do |f| %>
          <%= f.input :emotion_pref, collection: 1..2, as: :radio_buttons, label: false %>
          <%= f.submit "Choose this emotion", class: "btn-blue" %>
          <% end %>
        </div>

        <hr>

        <div>
          <h4>Temperature preferences</h4>
          <%= simple_form_for current_user, url: temperature_prefs_path, method: :patch do |f| %>
          <%= f.input :temperature_pref, collection: 1..4, as: :radio_buttons, label: false %>
          <%= f.submit "Choose this temperature", class: "btn-blue" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



