<div class="container-fluid side-margin">
  <div class="row margin-left">
    <div class="col-xs-12 col-sm-6 col-lg-8 col-sm-offset-3 col-lg-offset-2 align-h bottomize space-between margin-bottom">
      <div class="form-post">
        <h1>Quizz</h1>



 <!-- TESTTING A NEW WAY TO DO THE FORM -->
        <div id="categories-form">
          <hr>
          <h4>Categories preferences</h4>
          <%= simple_form_for @categories_pref, remote: true do |f| %>

            <div class="form-group margin-bottom">
              <div class="category-choices">
                <div class="row">
                <% Category.all.each do |category| %>
                  <div class="col-xs-12 col-sm-4">

                      <input type="checkbox" class="hidden" value="<%= category.id %>" name="categories_pref[category_id][]" id="categories_pref_category_id_<%= category.id %>">

                        <label for="categories_pref_category_id_<%= category.id %>" class="category-choice" style="background-image: url('<%= category.picture %>')" style="cursor: pointer;">
                          <%= category.name %>
                        </label>

                  </div>
                    <% end %>
                </div>
               </div>

            <%= f.submit "Save", class: "btn-blue" %>
            <% end %>
          </div>
        </div>


        <div id="emotion-form" class="hidden">
          <hr>
          <h4>Emotion preferences</h4>

          <%= simple_form_for current_user, remote: true, url: emotion_prefs_path, method: :patch do |f| %>
          <div class="form-group margin-bottom">
            <div class="emotion-choices">

              <input type="radio" class="hidden" value="1" name="user[emotion_pref]" id="user_emotion_pref_1">
                <label for="user_emotion_pref_1" class="category-choice" style="background-image: url('https://images.pexels.com/photos/347135/pexels-photo-347135.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')" style="cursor: pointer;">
                </label>

              <input type="radio" class="hidden" value="2" name="user[emotion_pref]" id="user_emotion_pref_2">
                <label for="user_emotion_pref_2" class="category-choice" style="background-image: url('https://images.pexels.com/photos/846747/pexels-photo-846747.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb')" style="cursor: pointer;">
                </label>

            </div>
            <%= f.submit "Save", class: "btn-blue" %>
            <% end %>
          </div>
        </div>



        <div id="temperature-form" class="hidden">
          <hr>
          <h4>Temperature preferences</h4>
          <%= simple_form_for current_user, url: temperature_prefs_path, method: :patch do |f| %>

          <div>
            <input type="radio" class="hidden" value="1" name="user[temperature_pref]" id="user_temperature_pref_1">
             <label for="user_temperature_pref_1" class="tempe-choice" id="chill" style="cursor: pointer;">
             </label>

             <input type="radio" class="hidden"  value="2" name="user[temperature_pref]" id="user_temperature_pref_2">
               <label for="user_temperature_pref_2" class="tempe-choice" id="posey" style="cursor: pointer;">
               </label>

            <input type="radio" class="hidden" value="3" name="user[temperature_pref]" id="user_temperature_pref_3">
              <label for="user_temperature_pref_3" class="tempe-choice" id="smart" style="cursor: pointer;">
              </label>

            <input type="radio" class="hidden" value="3" name="user[temperature_pref]" id="user_temperature_pref_3">
              <label for="user_temperature_pref_3" class="tempe-choice" id="intense" style="cursor: pointer;">
              </label>
          </div>

          <%= f.submit "Save", class: "btn-blue" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




