<!-- Article banner -->

<% if @article.picture %>
<% if @article.picture.last(3) == 'jpg' || @article.picture.last(4) == 'jpeg' || @article.picture.last(3) == 'png' || @article.picture.last(3) == 'gif' %>
<div class="article-banner" style="background-image: url(<%= @article.picture %>);">
</div>
<% else  %>
<div class="article-banner">
  <iframe id="media" src="<%= @article.picture %>" scrolling="no"></iframe>
</div>
<% end %>
<% end %>

<div class="container-fluid side-margin">
  <div class="row margin-left">

    <!-- LEFT SIDE -->
    <div class="col-xs-3 col-md-3 col-sm-3 sticky card-author-container">
      <div class="card-author">

        <!-- Profile of the writer -->
        <div class="article-profile">

          <div class="center author">
            <img class="card-user" src=<%= @article.user.picture %>>
          </div>

          <div class="user-details">
            <div class="author">
              <p> <b><%= @article.user.first_name%> <%= @article.user.last_name %></b> </p>
            </div>
            <div class="author">
              <p class="grow"> <%= @article.user.city %></p>
            </div>
          </div>

        </div>

        <hr>

        <div class="bio">
          <h4>Bio</h4>
          <p> <%= @article.user.bio %></p>
        </div>
        <hr>

        <% if user_signed_in? && donation = Donation.find_by(user_id: current_user.id, article_id: @article.id) %>
        <div>
          <h4> Thank you for your support <i class="fa fa-heart"></i></h4>
          <div>
            <div class="container">
              <svg id="Layer_2" class="on" viewBox="0 0 50 50"><defs><style>.cls-1{fill:none;stroke:#ddd;stroke-miterlimit:10;stroke-width:1px;}</style></defs><circle class="cls-1" cx="25" cy="25" r="19.27"/></svg>

              <svg id="Layer_1" class="on" viewBox="0 0 24 19"><defs><style>.cls-2{fill:none;stroke:lightgreen;stroke-miterlimit:10;stroke-width:3px;}</style></defs>
                <polyline class="cls-2" points="2.09 9.56 8.3 15.77 22.19 1.87"/>
              </svg>
            </div>
          </div>
        </div>

        <% else %>
        <div class="donate-form">
          <%= simple_form_for [@article, @donation] do |f| %>
          <div class="align-v align-h middle">
            <p id='euro'> €</p>
            <%= f.input :amount, label: false, input_html: { class: 'form_light no_border donate-value', value: '0.10' } %>
          </div>
          <% end %>
          <h4> Support independent writing</h4>
          <%= button_tag(type: 'submit', class: "btn-blue") do %>
          Donate to <%= @article.user.first_name %>
          <% end %>
        </div>
        <% end %>
          <hr>
      </div>
    </div>



    <!-- RIGHT SIDE -->
    <div class="col-xs-8 col-md-8 col-sm-8 front">

      <!-- Article -->
      <div class="card-article">
        <!-- Articles informations -->
        <div class="article-text">
          <div class="article-details">
            <p> <%= @article.category.name.upcase %></p>
        <!-- Average Rating -->
        <% if @avg_rating %>
          <ul class="list-inline top-right">
            <% @avg_rating.times do %>
              <li class="list-inline-item"><i class="fas fa-star" style="color:#EDB867"></i></li>
            <% end %>
            <% unless @avg_rating == 5 %>
              <% (5 - @avg_rating).times do %>
                <li class="list-inline-item "><i class="fas fa-star" style="color:#d2d2d2"></i></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>

          </div>

          <h1><%= @article.title %></h1>
          <h5><%= @article.subtitle %></h5>
          <p ><%= @article.publishing_date %></p>

          <hr>


          <h4>Summary</h4>
          <p> <%= @article.summary %></p>
        </div>

        <hr>

        <div>
          <h4>Full article</h4>
          <p><%= raw @article.content %></p>
        </div>
      </div>

      <!-- Rate the article-->
      <% if user_signed_in? %>
        <% unless Review.where(article: @article, user: current_user)[0] %>
          <div id="new-review-container">
            <hr>
            <h4>Rate the article</h4>
            <div id="new-review">
              <%= render 'reviews/form', article: @article, review: @review %>
            </div>
          </div>
        <% end %>
      <% end %>

      <!-- List of the reviews -->
      <% if @reviews.exists? %>
        <hr>
        <h4>All reviews</h4>
        <div id="reviews">
          <% @reviews.reverse.each do |review| %>
          <%= render 'reviews/show', article: @article, review: review %>
          <% end %>
        </div>
      <% else %>
        <div id="reviews"></div>
      <% end %>

      <% if @reviews.exists? && user_signed_in? == false%>
        <div class="link-on-right">
          <%= link_to "Sign in and rate this article", new_user_session_path %>
        </div>
      <% end %>


      <!-- Add an opinion -->
      <% if user_signed_in? %>
        <hr>
        <h4>Share your opinion ></h4>
        <div id="new-opinion">
          <%= render 'opinions/form', article: @article, opinion: @opinion %>
        </div>
      <% end %>

      <!-- List of opinions -->
      <% if @opinions.exists? %>
        <hr>
        <h4>All opinions</h4>
        <div id="opinions">
          <% @opinions.reverse.each do |opinion| %>
          <%= render 'opinions/show', article: @article, opinion: opinion %>
          <% end %>
        </div>
      <% else %>
        <div id="opinions"></div>
      <% end %>

      <% if @opinions.exists? && user_signed_in? == false%>
        <div class="link-on-right">
          <%= link_to "Sign in and leave your opinion", new_user_session_path %>
        </div>
      <% end %>



      <!-- End buttons -->

      <div class="buttons">

        <% if policy(@article).edit? %>
        <%= link_to "Edit", edit_article_path(@article), class: "btn-gray" %>
        <% end %>

        <% if policy(@article).destroy? %>
        <%= link_to "Delete", article_path(@article), class: "btn-gray", method: :delete, data: { confirm: "Are you sure?"} %>
        <% end %>

      </div>
    </div>

  </div>

</div>
