<div class="profile-container">

    <div class="center author">
      <img class="card-user" src=<%= @user.picture %>>
    </div>

    <div class="user-details">
      <div class="author">
        <p> <b><%= @user.first_name%> <%= @user.last_name %></b> </p>
      </div>
      <div class="author">
        <p class="grow"> <%= @user.city %></p>
      </div>
    </div>

  <hr>

    <div class="bio">
      <h4>Bio</h4>
      <p> <%= @user.bio %></p>
    </div>

  <hr>

</div>
