<% if current_page?('/articles') %>
<div class="filters">
  <% Category.all.each do |category| %>
  <div id="category">
    <%= link_to category.name, articles_path(category: category.name, avg_temperature: params[:avg_temperature], avg_emotion: params[:avg_emotion]) %>
  </div>
  <% end %>

    <!-- <div id="emotion">
      <div class="dropdown">
        <button class="dropbtn-emotion far fa-smile"></button>
        <div class="dropdown-content">
         <%= form_tag articles_path, class: 'fire-form', method: :get do %>
            <%= hidden_field_tag :category, params[:category] %>
            <%= hidden_field_tag :avg_temperature, params[:avg_temperature] %>
            <%= select_tag :avg_emotion, options_for_select([["😢", 1], ["😋", 2]]), onchange: 'changeEventHandler(event)' %>


            <input type="radio" class="hidden" value="1" name="review[emotion]" id="review_emotion_1">
              <label for="review_emotion_1" class="smiley" style="background-image: url(<%= asset_path 'sad_smiley.png' %>); width:50px; height: 50px;" style="cursor: pointer;">
              </label>
            <input type="radio" class="hidden" value="2" name="review[emotion]" id="review_emotion_2">
              <label for="review_emotion_2" class="smiley" style="background-image: url(<%= asset_path 'yay_smiley.png' %>); width:50px; height: 50px;" style="cursor: pointer;">
              </label>


              <select name="avg_emotion" id="avg_emotion" class="smiley" onchange="changeEventHandler(event)" style="display: none;">
                <option value="1">1</option>
                <option value="2">2</option>
              </select>


          <% end %>
        </div>
      </div>
    </div> -->

    <div id="emotion">
      <div class="dropdown">
        <button class="dropbtn-emotion">🤔</button>
        <div class="dropdown-content">
          <%= link_to "😢", articles_path(avg_emotion: 1, category: params[:category], avg_temperature: params[:avg_temperature]) %>
          <%= link_to "😊", articles_path(avg_emotion: 2, category: params[:category], avg_temperature: params[:avg_temperature])%>
        </div>
      </div>
    </div>

    <div id="temperature">
      <div class="dropdown">
        <button class="dropbtn-fire" style="font-size:25px ; margin-bottom:31px">
          <%= icon("fas", "fire") %>
        </button>
        <div class="dropdown-content">
          <%= link_to icon("fas", "fire"), articles_path(avg_emotion: params[:avg_emotion], category: params[:category], avg_temperature: 1) %>
          <%= link_to icon("fas", "fire"), articles_path(avg_emotion: params[:avg_emotion], category: params[:category], avg_temperature: 2)%>
          <%= link_to icon("fas", "fire"), articles_path(avg_emotion: params[:avg_emotion], category: params[:category], avg_temperature: 3) %>
          <%= link_to icon("fas", "fire"), articles_path(avg_emotion: params[:avg_emotion], category: params[:category], avg_temperature: 4)%>

<!--           <%= form_tag articles_path, class: 'fire-form', method: :get do %>
              <%= hidden_field_tag :category, params[:category] %>
              <%= hidden_field_tag :avg_emotion, params[:avg_emotion] %>
              <%= select_tag :avg_temperature, options_for_select(1..4), class: 'temperature-jquery', onchange: 'changeEventHandler(event)' %>
              <% end %> -->

            </div>
          </div>
        </div>

<!--     <div id="temperature">
      <div class="dropdown">
        <button class="dropbtn-fire fab fa-gripfire"></button>
        <div class="dropdown-content">
          <a><%= link_to "🔥🔥🔥🔥", articles_path(avg_temperature: 4, category: params[:category], avg_emotion: params[:avg_emotion]) %></a>
          <a><%= link_to "🔥🔥🔥", articles_path(avg_temperature: 3, category: params[:category], avg_emotion: params[:avg_emotion]) %></a>
          <a><%= link_to "🔥🔥", articles_path(avg_temperature: 2, category: params[:category], avg_emotion: params[:avg_emotion]) %></a>
          <a><%= link_to "🔥", articles_path(avg_temperature: 1, category: params[:category], avg_emotion: params[:avg_emotion]) %></a>
        </div>
      </div>
    </div> -->

  </div>
  <% end %>


