<% if current_page?('/articles') %>
  <div class="filters">
      <% Category.all.each do |category| %>
    <div id="category">
      <%= link_to category.name, articles_path(category: category.name, avg_temperature: params[:avg_temperature], avg_emotion: params[:avg_emotion]) %>
    </div>
      <% end %>

    <div id="emotion">
      <div class="dropdown">
        <button class="dropbtn-emotion">🤔</button>
        <div class="dropdown-content">
          <a><%= link_to "😢", articles_path(avg_emotion: 1, category: params[:category], avg_temperature: params[:avg_temperature]) %></a>
          <a><%= link_to "😊", articles_path(avg_emotion: 2, category: params[:category], avg_temperature: params[:avg_temperature])%></a>
        </div>
      </div>
    </div>

      <div id="temperature">
        <div class="dropdown">
          <button class="dropbtn-fire" style="font-size:25px ; margin-bottom:31px">
            <%= icon("fas", "fire") %>
          </button>
          <div class="dropdown-content">
            <%= form_tag articles_path, class: 'fire-form', method: :get do %>
              <%= hidden_field_tag :category, params[:category] %>
              <%= hidden_field_tag :avg_emotion, params[:avg_emotion] %>
              <%= select_tag :avg_temperature, options_for_select(1..4), class: 'temperature-jquery', onchange: 'changeEventHandler(event)' %>
            <% end %>
          </div>
        </div>
      </div>

  </div>
<% end %>


