
  <div class="row ratings-line">
      <!-- Writer of the review -->
      <div class=" col-xs-6 col-sm-3 article-profile">
        <div class="center">
          <img class="card-user" src=<%= review.user.picture %>>
        </div>
        <div class="user-details">
          <div>
            <p><b><%= review.user.first_name%> <%= review.user.last_name %></b></p>
          </div>
          <div>
            <p class="grow"> <%= review.user.city %></p>
          </div>
        </div>
      </div>

      <!-- Stars of the review -->
      <div class="col-xs-6 col-sm-3 center-ratings">
        <ul class="list-inline">
          <% review.rating.times do %>
            <li class="list-inline-item"><i class="fas fa-star" style="color:#EDB867"></i></li>
          <% end %>
          <% unless review.rating == 5 %>
            <% (5 - review.rating).times do %>
              <li class="list-inline-item "><i class="fas fa-star" style="color:#d2d2d2"></i></li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <!-- Emotions of the review -->
      <div class="col-xs-6 col-sm-3 center-ratings">

          <% if review.emotion == 1 %>
            <div class="display-smiley" style="background-image: url(<%= asset_path 'sad_smiley.png' %>); width:30px; height: 30px;"></div>
            <div class="display-smiley opacity" style="background-image: url(<%= asset_path 'yay_smiley.png' %>); width:30px; height: 30px;"></div>

            <% else %>
            <div class="display-smiley opacity" style="background-image: url(<%= asset_path 'sad_smiley.png' %>); width:30px; height: 30px;"></div>
            <div class="display-smiley" style="background-image: url(<%= asset_path 'yay_smiley.png' %>); width:30px; height: 30px;"></div>
          <% end %>
      </div>

      <!-- Temperature of the review -->
      <div class="col-xs-6 col-sm-3 center-ratings">
        <ul class="list-inline">
          <% review.temperature.times do %>
            <li class="list-inline-item"><i class="fas fa-fire" style="color:#B74E46"></i></li>
          <% end %>
          <% unless review.temperature == 4 %>
            <% (4 - review.temperature).times do %>
              <li class="list-inline-item"><i class="fas fa-fire" style="color:#d2d2d2"></i></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>



