<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans" rel="stylesheet">
  <link rel="icon" href="<%= image_path("logo_blue.png") %>" type="image/png"/>
  <title>Nationall</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>

  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  <!-- For the star ratings -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!--  -->
</head>
<body class="Site" >
  <% color = params[:controller] == 'pages' && params[:action] == 'home' ? 'page-active' : '' %>
  <% color_articles = params[:controller] == 'articles' && params[:action] == 'index' ? 'page-active' : '' %>
  <%= render 'shared/navbar', color_map: color, color_articles: color_articles %>
  <%= render 'shared/flashes' %>
  <div class="Site-content">
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  <%= javascript_pack_tag "snazzy-info-window" %>
  <%= javascript_pack_tag "map" %>
  <%= yield(:after_js) %>
</body>
</html>
